[CRAB]

jobtype = cmssw
scheduler = remoteGlidein
use_server = 0

[CMSSW]

### The data you want to access (to be found on DBS)
dbs_url = http://cmsdbsprod.cern.ch/cms_dbs_ph_analysis_01/servlet/DBSServlet
datasetpath=/HIJING_MB/vzhukova-HIJING_MB_RECO_v3-13a591fee6315e7fb1e99e6ba8e52eaa/USER

### The ParameterSet you want to use
pset=ecalflowntp_simMinBiasHighMass_cfg.py

### Splitting parameters
number_of_jobs=500
events_per_job=4000

### The output files (comma separated list)
output_file = pPb_SimHighMass_7July2013V1_HITracks_0_100.root

[USER]

publish_data = 0
copy_data = 1
storage_element = T2_US_Vanderbilt
user_remote_dir = hiRun2013MC
check_user_remote_dir = 0

eMail = charles.f.maguire@vanderbilt.edu

[GRID]
se_white_list =T2_US_MIT
